[Desktop Entry]
Encoding=UTF-8
Name=MX Boot Options
Name[ca]=MX Boot Options
Name[de]=MX Boot Options
Name[el]=MX Boot Options
Name[es]=MX Boot Options
Name[fr]=MX Boot Options
Name[it]=MX Boot Options
Name[ja]=MX Boot Options
Name[nl]=MX Boot Options
Name[sv]=MX Boot Options
Comment=Common start-up choices
Comment[ca]=
Comment[de]=
Comment[el]=
Comment[es]=
Comment[fr]=
Comment[it]=
Comment[ja]=
Comment[nl]=
Comment[sv]=
Exec=su-to-root -X -c mx-boot-options
Terminal=false
Type=Application
Icon=boot
Categories=GNOME;GTK;System;MX-Maintenance
NoDisplay=false
